
        body {
            font-family: 'Merriweather', serif;
            color: #333;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        header {
            text-align: center;
            padding: 20px 0;
            background-color: #61728c;
            color: white;
        }
        header img {
            max-width: 150px;
            margin-bottom: 10px;
        }
        h1, h2, h3 {
            color: #61728c;
        }
        footer {
            background-color: #61728c;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        footer a {
            color: white;
            text-decoration: underline;
        }
    